<!--Fonts from Google's Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Actor|Quattrocento+Sans' rel='stylesheet' type='text/css'>

<style type="text/css" media="screen">
  .carbonad {
    width: 265px !important;
    height: 98px !important;
  }
  .carbonad-text {
    width: 136px !important;
    padding-top: 8px !important;
  }
  .carbonad-image img {
    width: 110px !important;
    height: 80px !important;
  }
  .carbonad-tag {
    width: 136px !important;
  }
</style>