#content > header {
  h1 {
    display: inline-block;
    margin: 0;
    a {
      background: #FFF url(/images/logo.gif) no-repeat scroll top left;
      text-indent: -9999px;
      display: block;
      width: 279px;
      height: 54px;
    }
  }
}